
html {
    background-color: darkseagreen;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    color: aquamarine;
}

header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
}

main {
    display: flex;
    justify-content: center;
}

form {
    width: 350px;
    height: 180px;
    background-color: rgb(163, 194, 128);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;
}

#produce {
    background-color: #ef6969;
    width: 75px;
    height: 25px;
    color: blanchedalmond;
    border: bold;
    margin: 0px;
}

input {
    width: 85%;
    height: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: dotted;
    color: #ac2626;
    background-color: rgb(242, 228, 206);
}

#card-container {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    border-radius: 100px ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.postcard {
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


#sticky {
    padding: 2rem;
    position: sticky;
    bottom: 0;
}

.poetry {
    color: aquamarine;
    width: 120px;
}
